:root {
  --white: #ffffff;
  --blue: #0078c8;
  --light-blue: #56ccf2;
  --red: #f03a47;
  --alternative-red: #eb5757;
  --green: #00b42d;
  --dark-green: #00873a;
  --alternative-green: #27ae60;
  --yellow: #f7d108;
  --light-yellow: #f2994a;
  --grey: #e9e9eb;
  --dark-grey: #94969e;
}
.recylink-input-container {
  height: 36px;
  display: block;
  margin-bottom: 16px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}
.recylink-multi-container {
  display: block;
  margin-bottom: 16px;
}
.recylink-input-container textarea {
  white-space: unset;
  overflow-x: unset;
}
.recylink-input-container textarea:focus {
  padding: 8px 10px 8px 11px;
}

.recylink-input-left,
.recylink-input,
.recylink-input-with-error,
.recylink-input-with-error-left {
  width: 100%;
  flex: none;
  font-size: 14px;
  letter-spacing: 0.09px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  transition: all 0ms;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.09px;
  caret-color: #0078c8;
  box-shadow: 0 0 0 1px hsl(0deg 0% 86% / 20%);
  box-sizing: border-box;
}
.recylink-input {
  padding: 9px 12px;
  border: 1px solid #c0c1c6;
  white-space: nowrap;
  overflow-x: hidden;
}
.recylink-input::-webkit-scrollbar {
  display: none;
}
.recylink-input-with-error {
  border: 2px solid #f03a47;
  padding: 9px 10px 9px 11px;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
.recylink-input-left {
  width: 100%;
  padding: 0px 0px 0px 38px;
  border: 1px solid #c0c1c6;
  box-sizing: border-box;
}
.recylink-input-with-error-left {
  border: 2px solid #f03a47;
  width: calc(100% - 38px);
  height: calc(100% - 2px);
  padding: 0px 0px 0px 37px;
}
.placeholder,
.recylink-input-left::placeholder,
.recylink-input::placeholder {
  font-family: 'Nunito Sans', sans-serif;
  color: #c0c1c6;
}
.recylink-input-left:focus,
.recylink-input:focus {
  border: 2px solid #0078c8;
  border-radius: 4px;
}
.recylink-input:focus {
  padding: 9px 10px 9px 11px;
}
.recylink-input-left:focus {
  padding: 0px 0px 0px 37px;
}
.recylink-input-disabled {
  color: #999999;
  background-color: #c0c1c6;
  cursor: default;
}
.recylink-input-no-field {
  display: none;
}

.recylink-input-error,
.recylink-input-error-center {
  color: #f03a47;
  margin: 0;
  font-size: 12px;
}
.recylink-input-error {
  text-align: right;
}
.recylink-input-error-center {
  text-align: center;
}

/* Recylink-Select */
.recylink-select-icon-container {
  padding: 6px 6px 3px 6px;
  cursor: pointer;
  color: #cccccc;
  transition: all ease 100ms;
}
.recylink-select-icon-container:hover {
  color: #999999;
}
.recylink-select-icon {
  height: 20px;
  color: inherit;
}

.recylink-select-props-icon-container {
  position: absolute;
  left: 9px;
  bottom: 4px;
  color: #c0c1c6;
  z-index: 2;
}
.recylink-select-props-icon {
  height: 17px;
}

.recylink-select-container {
  position: relative;
}
.recylink-select-container > .recylink-select-props-icon {
  color: #0078c8;
}

.recylink-select-option {
  padding: 6px 12px;
  line-height: 16px;
  font-size: 14px;
  display: flex;
  cursor: pointer;
}
.recylink-select-option:hover {
  background-color: #0078c8;
  color: #ffffff;
}

.recylink-select-selected-option-colored,
.recylink-select-non-selected-option-colored {
  height: 16px;
  min-width: 16px;
  margin-right: 10px;
  border-radius: 4px;
  position: relative;
}
.recylink-select-selected-option-colored {
  background-color: #0078c8;
}

.recylink-select-check,
.recylink-select-selected-check {
  position: absolute;
  content: '';
  border-radius: 4px;
  transform: rotate(135deg) scale(0);
}
.recylink-select-selected-check {
  transform: rotate(135deg) scale(1);
  opacity: 1;
  left: 3px;
  top: 3px;
  width: 9px;
  height: 5px;
  border: solid;
  border-width: 2px 2px 0px 0px;
  background-color: transparent;
  border-radius: 0;
  color: #fff;
}

.autocomplete {
  cursor: text;
}

.rotate-90 {
  transform: rotate(90deg);
}

.css-1e8xuqs:hover {
  background-color: rgba(60, 60, 60, 0.5) !important;
  color: #fff !important;
  border-radius: 0px 12px 12px 0px !important;
  transition: all 100ms;
}
.css-1ik2ie {
  padding: 0px 6px 0px 12px !important;
}

.css-2o5izw {
  border-color: #0078c8 !important;
}

.css-z5z6cw {
  background-color: #0078c8 !important;
  font-size: 12px !important;
  padding: 5px 12px !important;
}

.css-wqgs6e {
  font-size: 12px !important;
  padding: 5px 12px !important;
}

.css-v73v8k {
  font-size: 12px !important;
  padding: 5px 12px !important;
}

.css-1uq0kb5 {
  padding: 0px !important;
}

.css-1ep9fjw {
  padding: 0px !important;
}

.css-1g6gooi {
  margin: 0px !important;
}

.css-xp4uvy {
  font-size: 12px;
}
.css-7ow6n4::scrollbar {
  width: 10px !important;
}

.recylink-array {
  position: relative;
  padding: 0px;
  padding-left: 0px;
  border: unset;
}
.recylink-fixed-array {
  cursor: default;
}
.recylink-item-remove {
  top: 0;
}
.recylink-array-item-content > div:first-child {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px 20px !important;
}

.MuiInputBase-input-26 {
  padding: 6px 0px 4px !important;
  font-size: 14px !important;
}

.recylink-radio-container {
  margin-bottom: 16px;
}

.recylink-checkbox-container,
.recylink-radio-button {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.recylink-checkbox-container recylink-label {
  line-height: normal;
  vertical-align: middle;
  margin-top: 2px;
}
.recylink-checkbox-input {
  cursor: pointer;
  height: 16px;
  width: 16px;
  min-width: 16px;
  vertical-align: top;
  margin-right: 10px;
}
.recylink-checkbox-label > input,
.recylink-checkbox-disabled > input {
  position: absolute;
  opacity: 0;
}
.recylink-checkbox-label > input {
  cursor: pointer;
}
.recylink-checkbox-disabled > input {
  cursor: not-allowed;
}
.recylink-checkbox-left {
  margin-left: 8px;
  margin-right: 4px;
}
.recylink-checkbox-right {
  margin-left: 4px;
  margin-right: 8px;
}
.recylink-checkbox-span,
.recylink-checkbox-span-disabled {
  height: 16px;
  width: 16px;
  min-width: 16px;
  vertical-align: top;
  border-radius: 4px;
  border: 1px solid #c0c1c6;
  position: relative;
}
.recylink-checkbox-span {
  cursor: pointer;
}
.recylink-checkbox-span-disabled {
  cursor: not-allowed;
}
.recylink-checkbox-span:after,
.recylink-checkbox-span-disabled:after {
  position: absolute;
  content: '';
  border-radius: 4px;
  transform: rotate(135deg) scale(0);
}
.recylink-checkbox-label input:checked ~ .recylink-checkbox-span {
  background-color: #0078c8;
  border: 1px solid #0078c8;
  color: #fff;
}
.recylink-checkbox-label input:indeterminate ~ .recylink-checkbox-span {
  background-color: #c0c1c6;
  border: 1px solid #c0c1c6;
}
.recylink-checkbox-disabled input:checked ~ .recylink-checkbox-span-disabled {
  background-color: #afafaf;
  border: 1px solid #c7c7c7;
  color: #fff;
}
.recylink-checkbox-disabled input:checked ~ .recylink-checkbox-span-disabled:after,
.recylink-checkbox-label input:checked ~ .recylink-checkbox-span:after {
  transform: rotate(135deg) scale(1);
  opacity: 1;
  left: 3px;
  top: 3px;
  width: 9px;
  height: 5px;
  border: solid #ffffff;
  border-width: 2px 2px 0px 0px;
  background-color: transparent;
  border-radius: 0;
}
.recylink-checkbox-label input:indeterminate ~ .recylink-checkbox-span:after {
  opacity: 1;
  left: 4px;
  top: 7px;
  width: 6px;
  height: 0px;
  border: 1px solid #8d8d8d;
  border-width: 2px 2px 0px 0px;
  background-color: transparent;
  border-radius: 0;
  transform: unset;
}
.recylink-checkbox-disabled,
.recylink-checkbox-label {
  margin-left: 5px;
  vertical-align: top;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.09px;
}

.recylink-radio-button input {
  opacity: 0;
}
.recylink-radio-span {
  position: absolute;
  height: 16px;
  width: 16px;
  left: 7px;
  top: 5px;
  background-color: #fff;
  border: solid 1px #c0c1c6;
  border-radius: 50%;
  cursor: pointer;
}
.recylink-radio-span:after {
  position: absolute;
  content: '';
  display: none;
}
.recylink-radio-label {
  letter-spacing: 0.09px;
  display: inline;
  vertical-align: bottom;
}
.recylink-radio-button input {
  height: 16px;
  width: 16px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 1px;
}
.recylink-radio-labelcontainer recylink-label {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}
.recylink-radio-labelcontainer input:checked ~ .recylink-radio-span {
  background-color: #0078c8;
  border: 1px solid #0078c8;
  color: #fff;
}
.recylink-radio-labelcontainer input:checked ~ .recylink-radio-span:after {
  display: block;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.recylink-select__value-container::-webkit-scrollbar,
.recylink-multi-select__value-container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .recylink-radio-button input {
    margin-left: 0px;
  }
  .recylink-radio-span {
    left: -1px;
  }
  .recylink-checkbox-span {
    margin-left: -4px;
  }
}
