.recylink-buttons-container,
.recylink-buttons-container-right {
  display: block;
}
.recylink-buttons-container-right {
  text-align: right;
}

.recylink-buttons-container-space-between {
  display: flex;
  justify-content: space-between;
}

.recylink-buttons-container .recylink-button-container:not(:last-child),
.recylink-buttons-container-space-between .recylink-button-container:not(:last-child) {
  margin-right: 10px;
}
.recylink-buttons-container-right .recylink-button-container:not(:first-child)
.recylink-buttons-container-space-between .recylink-button-container:not(:first-child) {
  margin-left: 10px;
}

.recylink-buttons-container-space-between .recylink-button-container:first-child {
  margin-left: 0px;
}
.recylink-buttons-container-space-between .recylink-button-container:last-child {
  margin-right: 0px;
}
