.recylink-label {
  line-height: 22px;
  letter-spacing: -0.1px;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: regular;
  display: table;
  font-family: 'Inter', sans-serif;
  line-height: 111.00000000000001%;
  letter-spacing: 0%;
  color: #313334;
}

.recylink-label:first-child {
  margin-top: 0;
}

.recylink-label-optional,
.recylink-label-required {
  font-size: 10px;
  padding-left: 5px;
  display: table-cell;
}

.recylink-label-optional {
  color: #94969e;
}

.recylink-label-required {
  color: #f03a47;
}
