.recylink-label {
  line-height: 22px;
  letter-spacing: -0.1px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}

.recylink-label:first-child {
  margin-top: 0;
}

.recylink-label-optional,
.recylink-label-required {
  font-size: 10px;
  margin-left: 5px;
}

.recylink-label-optional {
  color: #94969e;
}

.recylink-label-required {
  color: #f03a47;
}
