.recylink-icon-buttons-container,
.recylink-icon-buttons-container-right {
  display: block;
}
.recylink-icon-buttons-container-right {
  text-align: right;
}
.recylink-icon-buttons-container .recylink-button-container:not(:last-child) {
  margin-right: 10px;
}
.recylink-icon-buttons-container-right .recylink-button-container:not(:first-child) {
  margin-left: 10px;
}
