.overlay {
  color: rgb(0, 0, 0);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 1000;
  box-shadow: 0px 0px 25px #222;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: fit-content;
  overflow-y: auto;
  padding: 24px;
  background: #ffffff;
  border: 3px solid #0078c8;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 1.1s ease-out;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  color: #222;
  max-height: 90vh;
  max-width: 73vw;
}

.modal-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  max-width: 100%;
  color: #0078c8;
}

.modal-content {
  margin-bottom: 15px;
  min-height: 30px;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.buttonClose {
  color: var(--dark-grey);
  background-color: var(--grey);
  padding: 2px 6px;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 20px;
}

